.comment, .comment-reply {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: baseline;
}

.comment-user-info {
    align-self: flex-end;
}

.vote-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1 / 3;
    align-self: center;
    width: 36px;
    height: 80px;
    padding: 0;

}
.vote-btn * {
    margin: 3px 0;
    
}

.vote-btn button {
    width: 100%;
    height: 24px;
}

.vote-btn .plus {
    border-radius: 4px 4px 0 0;
}
.vote-btn .minus {
    border-radius: 0 0 4px 4px;
}

.reply-container, .edit-container, .delete-container {
    bottom: auto;
    top: 26px;
    cursor: pointer;
}

.reply-container:hover, .edit-container:hover, .delete-container:hover,.temporal-reply-prompt button:hover, .add-comment button:hover {
    opacity: 40%;
}
.delete-container {
    right: 100px;
}

.add-comment, .temporal-reply-prompt {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 6fr 1fr;
    height: 100px;
    max-width: 600px;
    padding: 16px 12px;
}

.add-comment img, .temporal-reply-prompt img {
    order: 1;
    align-self:flex-start;
}

.add-comment input, .temporal-reply-prompt input {
    grid-column: auto;
    justify-self: stretch;
    order: 2;
}

.add-comment button, .temporal-reply-prompt button{
    margin-right: 8px;
    align-self: flex-start;
    order: 3;
}

.update-btn {
    position: static;
    grid-area: 3 / 2 / 4 / 3;
    justify-self: right;
    margin-right: 28px;
}

.comment, .replies-container .comment-reply, .temporal-reply-prompt {
    width: 600px;
}

.replies-container .comment-reply {
    margin: 20px 0 20px 13.5%;
}
.line {
    left: 45px;
}